@model TestCoWorking.Models.Booking[]
@{
    ViewData["Title"] = "Бронювання";
    Layout = "_AdminLayout";
}

<h1 class="text-center">Список бронювань</h1>

<div class="container" >
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Кількість вільних місць</th>
            <th>Approver</th>
            <th>Start</th>
            <th>End</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Id</td>
                <td>@u.Name</td>
                <td>@u.DevEmail</td>
                <td>@u.Approved</td>
                <td>@u.Start</td>
                <td>@u.End</td>
                <td><a asp-action="EditBooking" asp-controller="Admin" asp-route-id="@u.Id">Редагувати</a></td>
                <td><a asp-action="DeleteBooking" asp-controller="Admin" asp-route-id="@u.Id">Видалити</a></td>
            </tr>
        }
    </table>
</div>


