@model TestCoWorking.Models.Booking[]

@{
    ViewData["Title"] = "PendingConfirm";
    Layout = "_AdminLayout";
}

<h1 class="text-center">Бронювання, що очікують на підтвердження</h1>

<div class="container">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Start</th>
            <th>End</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Id</td>
                <td>@u.Name</td>
                <td>@u.DevEmail</td>
                <td>@u.Start</td>
                <td>@u.End</td>
                <td><a asp-action="ConfirmBook" asp-controller="Admin" asp-route-id="@u.Id">Затвердити</a></td>
            </tr>
        }
    </table>
</div>

