@model TestCoWorking.Models.User[]
@{
    ViewData["Title"] = "Користувачів";
    Layout = "_AdminLayout";
}

<h1 class="text-center">Список користувів</h1>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Ім'я</th>
            <th>Пошта</th>
            <th>Роль</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.NickName</td>
                <td>@u.Email</td>
                <td>@u.Role.Name</td>
                @if(u.Role.Name != "Admin")
                { 
                    <td><a asp-action="EditUser" asp-controller="Admin" asp-route-id="@u.Id" class="btn btn-success">Редагувати</a></td>
                    <td><a asp-action="DeleteUser" asp-controller="Admin" asp-route-id="@u.Id" class="btn btn-danger">Видалити</a></td>
                }
            </tr>
        }
    </tbody>
</table>


