@model TestCoWorking.Models.Booking[]
@{
    ViewData["Title"] = "Reservation";
}

<style>
    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        text-align: left;
        border-collapse: separate;
        border-spacing: 5px;
        background: #ECE9E0;
        color: #656665;
        border: 16px solid #ECE9E0;
        border-radius: 20px;
    }

    th {
        font-size: 18px;
        padding: 10px;
    }

    td {
        background: #F5D7BF;
        padding: 10px;
    }
</style>

<h1 class="text-center">Бронювання</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Назва</th>
            <th>Пошта розробника</th>
            <th>Кількість вільних місць</th>
            <th>Початок</th>
            <th>Кінець</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model)
        {
            <tr>
                <td>@b.Name</td>
                <td>@b.DevEmail</td>
                <td>@b.EmployeerCount</td>
                <td>@b.Start.ToString("d")</td>
                <td>@b.End.ToString("d")</td>
            </tr>
        }
    </tbody>
</table>

