@model TestCoWorking.Models.Booking
@{
    ViewData["Title"] = "Акаунт";
    Layout = "_DevLayout";
}

<h1 class="text-center">Ваше бронювання</h1>


@if (Model != null)
{
    <table class="table">
        <tr>
            <td><a asp-action="Edit" asp-controller="Development" asp-route-id="@Model.Id">Редагувати бронювання</a></td>
        </tr>
        <tr>
            <td><a asp-action="FollowedUsers" asp-controller="Development" asp-route-id="@Model.Id">Підписані користувачі</a></td>
        </tr>
        <tr>
            <td><a asp-action="Comments" asp-controller="Development" asp-route-id="@Model.Id">Коментарі</a></td>
        </tr>
    </table>
    <table class="table">
        <tr>
            <th>Назва</th>
            <th>Залишилось місць</th>
            <th>Старт</th>
            <th>Кінець</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.UserCount</td>
            <td>@Model.Start</td>
            <td>@Model.End</td>
            <td><a asp-action="Delete" asp-controller="Development" asp-route-id="@Model.Id">Видалити</a></td>
        </tr>
    </table>
}
else
{
    <h1>Немає наявних бронювань</h1>
    <a asp-action="Add" asp-controller="Development">Додайте бронювання</a>
}

