@model TestCoWorking.Models.Booking[]
@{
    ViewData["Title"] = "Бронювання";
    Layout = "_ManagerLayout";
}

<h1 class="text-center">Бронювання</h1>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Назва</th>
            <th>Пошта</th>
            <th>Кількість вільних місць</th>
            <th>Початок</th>
            <th>Кінець</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr class="h4">
                <td>@u.Name</td>
                <td>@u.DevEmail</td>
                <td>@u.EmployeerCount</td>
                <td>@u.Start.ToString("d")</td>
                <td>@u.End.ToString("d")</td>
                <td><a asp-action="Look" asp-controller="Manager" asp-route-id="@u.Id" class="btn-primary btn">Деталі</a></td>
            </tr>
        }
    </tbody>
</table>
