@model TestCoWorking.Models.Employee
@{
    ViewData["Title"] = "Follow";
    Layout = "_ManagerLayout";
}

<h1 class="text-center">Записати користувача для бронювання</h1>
<h2 class="text-center">@Model.Booking.Name</h2>

<form asp-action="Follow" asp-controller="Manager" class="form-group" method="post">
    <label asp-for="@Model.FullName">Повне ім'я</label><br/>
    <input type="text" asp-for="@Model.FullName" /><br />

    <label asp-for="@Model.Email">Пошта</label><br />
    <input type="text" asp-for="@Model.Email" /><br />

    <label asp-for="@Model.Description">Опис</label><br />
    <textarea type="text" asp-for="@Model.Description" class="form-control"></textarea><br />

    <div>
        <input asp-for="BookingId" value="@Model.BookingId" type="hidden"/>
    </div>

    <input type="submit" value="Додати" class="form-control" />
</form>

