@model TestCoWorking.ViewModels.LookBookingModel
@{
    ViewData["Title"] = "Бронювання";
    Layout = "_ManagerLayout";
}

<style> 
    div.scroll { 
        margin: 4px, 4px;
        padding: 4px;
        background-color: white;
        height: 200px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: justify;
    }
</style>

<h2 class="text-center">Бронювання - @Model.Booking.Name</h2>

<div class="text-center">
    <table class="table">
        <tr>
            <th>Ім'я</th>
            <th>Пошта розробника</th>
            <th>Кількість вільних місць</th>
            <th>Початок</th>
            <th>Кінець</th>
        </tr>
        <tr>
            <td>@Model.Booking.Name</td>
            <td>@Model.Booking.DevEmail</td>
            <td>@Model.Booking.EmployeerCount</td>
            <td>@Model.Booking.Start</td>
            <td>@Model.Booking.End</td>
        </tr>
    </table>
</div>
<div class="table">
    <h4 class="text-center">Опис</h4><br />
    <label>@Model.Booking.Description</label>
</div>

@if(Model.Booking.EmployeerCount == 0)
{ 
    <h4 class="text-center">Немає вільних місць</h4>
}
else
{
    <h4 class="text-center">
        <a asp-action="Follow" asp-controller="Manager" asp-route-id="@Model.Booking.Id" class="btn btn-outline-dark">Записати користувача</a>
    </h4>
}

<h2>Коментарі</h2>
<div class="scroll text-center form-group">
    <table class="table">
        <tr>
            <th>Ім'я</th>
            <th>Повідомлення</th>
        </tr>
            @foreach (var comment in Model.Booking.Comments)
            {
                <tr>
                    <td>@comment.UserName</td>
                    <td>@comment.Message</td>
                </tr>
            }
    </table>
</div>
<form asp-action="AddComment" asp-controller="Manager" class="form-group" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="@Model.Text">Ваш коментар</label>
            <textarea type="text" asp-for="@Model.Text" class="form-control"></textarea>
            <span asp-validation-for="Text" />
            <input asp-for="@Model.BookingId" value="@Model.Booking.Id" type="hidden" />
            <input type="submit" value="Додати" class="form-control" />
        </div>
    </div>
</form>

